*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Robot", sans-serif;
}

.clear{
    clear: both;
}

.desktop-header{
    background-color: #025cc2;
    width:100%;
}

.header-container{
    margin: 0 auto;
    padding: 0 2%;
}

.desktop-logo{
    float:left;
}

.desktop-logo img{
    width:65%;
}

.desktop-menu{
    margin-top:4%;
    float: right;
    display: flex;
    justify-content: center;
    list-style: none;
}

.desktop-menu li > a{
    color:white;
    text-decoration: none;
}