/* boot elements */

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.clear{
    clear: both;
    /* A classe clear serve para que a propriedade float funcione de maneira correta e não quebre
    o fluxo da página */
}

.container{
    margin:0 auto; 
    padding: 0 2%;
    /* Centraliza os elementos e dá um espaçamento de 2% nos lados */
}

/* header and vestibular-call-section */

.background-container{
    background-image: url("../../../assets/images/girl_listening_overlay.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width:100%;
}

.desktop-header{
    /* background-color: #025cc2; */
    width:100%;
    padding:10px 0;
    margin-bottom:5px;
}

.desktop-logo{
    float:left;
}

.desktop-logo img{
    width:65%;
}

.desktop-menu{
    margin-top:4%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.desktop-menu li{
    margin: 0 8px;
}

.desktop-menu-item a{
    color:white;
    text-decoration: none;
    transition: 0.2s;
}

.desktop-menu-item a:hover{
    text-decoration: underline;
    transition:0.2s;
}

.desktop-menu-login{
    border: 2px solid white;
    color: white;
    padding:10px 15px;
    border-radius: 25px;
    transition: 0.2s;
}

.desktop-menu-login a{
    text-decoration: none;
    color:white;
}

.desktop-menu-login:hover{
    border-color:#00489A;
    background-color: #00489A;
    transition: 0.2s;
}

.vestibular-call-section{
    width:100%;
    padding:295px 0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call-vestibular{
    position: absolute;
    width: fit-content;
    margin-top:-95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px 10px;
    text-align: center;
}

.horizontal-line-control{
    width:100%;
}

.horizontal-line{
    height:3px;
    margin-left:15px;
    width:200px;
    background-color:white;
    margin-bottom:5px;
}

.text-control{
    padding:15px 0;
    width:fit-content;
}

.text-control h4{
    font-weight: normal;
}

.text-control h2{
    font-size:65px;
    padding:12px 0;
}

.button-control{
    margin-top:20px;
    padding:5px 0;
}

.button-control a{
    font-size:18px;
    font-weight: bold;
    text-decoration: none;
    color:#fa594d;
    padding:10px 20px;
    border: 2px solid #fa594d;
    border-radius:25px;
    transition:0.2s;
}

.button-control a:hover{
    background-color: #fa594d;
    border:2px solid #fa594d;
    color: white;
    transition:0.2s;
}
