/* boot elements */

body{
    overflow-x: hidden;
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color:#000;
}

.clear{
    clear: both;
    /* A classe clear serve para que a propriedade float funcione de maneira correta e não quebre
    o fluxo da página */
}

.container{
    margin:0 auto; 
    padding: 0 2%;
    /* Centraliza os elementos e dá um espaçamento de 2% nos lados */
}

.w50{
    float:left;
    width:50%;
}

/* scrollbar configs */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #025cc4;
    border-radius: 34px;
}

/* background-container -> header and user-login-secction */

/* Esta seção diz respeito ao background-container que por sua vez contém o header 
principal da página juntamente com a section de login */

.background-container{
    background-image: url("../../../assets/images/woman_working_2_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    padding-bottom:8rem;
}

.desktop-header{
    /* background-color: #025cc2; */
    width:100%;
    padding:10px 0;
    margin-bottom:5px;
}

.desktop-logo{
    float:left;
}

.desktop-logo img{
    width:65%;
}

.desktop-menu{
    margin-top:4%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.desktop-menu li{
    margin: 0 8px;
}

.desktop-menu-item a{
    color:white;
    text-decoration: none;
    transition: 0.2s;
}

.desktop-menu-item a:hover{
    text-decoration: underline;
    transition:0.2s;
}

.selected{
    font-weight: bold;
    /* Mostra em qual página o usuário está */
}

.selected a{
    text-decoration: none;
}

.selected a:hover{
    text-decoration: none;
}

.desktop-menu-login{
    border: 2px solid white;
    color: white;
    padding:10px 15px;
    border-radius: 25px;
    transition: 0.2s;
}

.desktop-menu-login a{
    text-decoration: none;
    color:white;
}

.desktop-menu-login:hover{
    border-color:#00489A;
    background-color: #00489A;
    transition: 0.2s;
}

.login-introduction-section{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:2rem 0;
}

.login-introduction-section > .login-introduction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-introduction-section > .login-introduction-container > .line{
    height:3px;
    margin-left:15px;
    width:200px;
    background-color:white;
    margin-bottom:5px;
}


.user-login-section{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4rem 0;
    color: #fff;
}

.user-login-section > .user-login-container{
    background-color: #1a1a1a;
    border:2px solid #025cc4;
    box-shadow: 0px 1px 12px 9px #025cc4;
    border-radius:15px;
    padding:1rem 2rem;
}

.user-login-section > .user-login-container > .title-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem 0;
    font-size: 20px;
    font-weight: 600;
}

.user-login-section > .user-login-container > .title-container > .line{
    width:20rem;
    height:1px;
    background-color: #025cc4;
    margin-top:1rem;
    margin-bottom:0.8rem;
}

.user-login-section > .user-login-container > .user-name-container,
.user-login-section > .user-login-container > .user-password-container{
    width:100%;
    display:flex;
    align-items: left;
    flex-direction: column;
}

.user-login-section > .user-login-container > .user-name-container label,
.user-login-section > .user-login-container > .user-password-container label{
    width:100%;
    text-align: left;
    padding-bottom:10px;
    font-weight: 600;
    font-size:16px;
}

.user-login-section > .user-login-container > .user-name-container label > i,
.user-login-section > .user-login-container > .user-password-container label > i{
    margin-left:5px;
}

.user-login-section > .user-login-container > .user-name-container > .input-control,
.user-login-section > .user-login-container > .user-password-container > .input-control{
    width:100%;
    padding-bottom:1.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.user-login-section > .user-login-container > .user-name-container > .input-control input,
.user-login-section > .user-login-container > .user-password-container > .input-control input{
    width:85%;
    padding:0.5rem 0;
    padding-left:8px;
    background-color: transparent;
    color:#fff;
    border:1px solid #025cc4;
    border-radius:25px;
}

.user-login-section > .user-login-container > .user-name-container > .input-control input:focus,
.user-login-section > .user-login-container > .user-password-container > .input-control input:focus{
    outline: none;
    box-shadow: 0px 1px 4px 4px #025cc4;
    transition: 0.2s;
}

.user-login-section > .user-login-container > .user-password-container > .input-control i{
    font-size:18px;
    margin-left:10px;
}

.user-login-section > .user-login-container > .forgot-password-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:2rem;
}

.user-login-section > .user-login-container > .forgot-password-container a{
    color:#fff;
    font-size:15px;
}

.user-login-section > .user-login-container > .forgot-password-container a:hover{
    text-decoration: underline;
}

.user-login-section > .user-login-container > .button-container{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:1.5rem;
}

.user-login-section > .user-login-container > .button-container button{
    width:50%;
    padding:10px 0;
    border-radius:25px;
    font-size : 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #fff;
    color:#fff;
    font-weight: 600;
    background-color: transparent;
    cursor:pointer;
    transition: 0.2s;
}

.user-login-section > .user-login-container > .button-container button > i{
    font-size:16px;
    margin-left:5px;
}

.user-login-section > .user-login-container > .button-container button:hover{
    background-color: #025cc4;
    border-color:#025cc4;
    transition:0.2s;
}